.home1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: inherit;
  .sub_menu {
    display: flex;
    justify-content: space-between;
  }
}
.home2 {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  .exp {
    h1 {
      color: black;
      p {
        text-align: left;
      }
    }
  }
  img {
    width: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.justify-content-spacebetween {
  justify-content: space-between;
}
